body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: rgb(25, 25, 25);
  color: white;
}

input {
  outline: none;
  background-color: unset;
  color: unset;
  border: unset;
  padding: unset;
  padding-block: unset;
  padding-inline: unset;
}

input:not([disabled]) {
  background-color: white;
  color: black;
}
